html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Empêche le défilement horizontal */
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
}

#dataListContainer,
#dataListContainer2{
    overflow: hidden;
    flex: 1;
}

#dataList,
#dataListHeader,
#dataList2,
#dataListHeader2{
    padding: 0;
    margin: 0;
    width: 720px; /* Réduire à 680 si marging-left à 40px pour affichage sur grand écran */
}

#dataList,
#dataListHeader{
    margin-left: 40px; /* Marge gauche pour affichage sur grand écran */
}

#dataList li,
#dataListHeader li,
#dataList2 li,
#dataListHeader2 li {
    display: grid;
    grid-template-columns: 60px 140px 60px 60px 80px 60px 60px 80px;
    gap: 1px;
    margin-bottom: 1px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#dataListHeader li.header,
#dataListHeader2 li.header {
    font-weight: bold;
    background-color: #333;
    color: #fff;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin: 0;
}

h1 {
    font-size: 24px;
    padding: 10px;
    margin-top: 20px; /* Marge haute pour affichage sur grand écran */
}

h2 {
    font-size: 15px;
    padding: 5px;
}

.toalign {
    text-align: center;
}

#bothlist {
    display: flex;
    flex: 1;
    overflow: hidden; /* Empêche le défilement */
    width: 100%; /* Assure que l'élément occupe toute la largeur disponible */
}

#list1, #list2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Marge entre les deux listes */
    overflow: hidden; /* Empêche le défilement à l'intérieur des listes */
}